<h1>Native Dialog Wrapper Test</h1>
<h2>Simple Dialog Example</h2>
<button (click)="openSimpleDialog()">Open Dialog</button>
<app-dialog-wrapper #simpleDialog>
    <h2 dialogTitle>Your Opinion</h2>
    <ng-container dialogContent>
        <p>The dialog element creates a popup box on your website that draws the user's attention.</p>
        <ul>
            <li>abc</li>
            <li>defg</li>
            <li>dsf</li>
            <li>uzi</li>
            <li>sf sd</li>
            <li>11d ds</li>
            <li>dds</li>
        </ul>
        <p>Do you like the native dialog element?</p>
    </ng-container>
    <button dialogActions (click)="closeSimpleDialog()">OK</button>
</app-dialog-wrapper>
<h2>Advanced Dialog Example</h2>
<button (click)="openComplexDialog()">Select</button>
<app-dialog-wrapper #complexDialog>
    <h2 dialogTitle>Select a value</h2>
    <p dialogContent>Dsljf?</p>
</app-dialog-wrapper>
